.main-container-navbar {
    display: flex;
    width: 50vw;
    height: 8vh;
    align-items: center;
    flex-direction: row;
    top: 0;
    position: absolute;
    justify-content: space-around;
    background-color: var(--pink-color-3);
    border-radius: 50px;
    border: 1px solid white;
    
}

.logo-title {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.directory-button {
    background: none;
    border: none;
    font-size: 14px;
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor:pointer;
}
.directory-button:hover {
    font-weight: 500;
    
}